body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
}

.tabs {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

.tabs button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.tabs button:hover {
	background-color: #ddd;
}

.tabs button.active {
	background-color: #ccc;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
